
@font-face {
  font-family: 'CFAstyStd-Book';
  src: url('CFAstyStd-Book.eot?#iefix') format('embedded-opentype'),  url('CFAstyStd-Book.otf')  format('opentype'),
	     url('CFAstyStd-Book.woff') format('woff'), url('CFAstyStd-Book.ttf')  format('truetype'), url('CFAstyStd-Book.svg#CFAstyStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
