
@font-face {
  font-family: 'CFAstyStd-Bold';
  src: url('CFAstyStd-Bold.eot?#iefix') format('embedded-opentype'),  url('CFAstyStd-Bold.otf')  format('opentype'),
	     url('CFAstyStd-Bold.woff') format('woff'), url('CFAstyStd-Bold.ttf')  format('truetype'), url('CFAstyStd-Bold.svg#CFAstyStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
